@plugin "./plugin/less-color-plugin.js";

// 生成颜色
.generate-color-steps(@semantic-name; @color-scale-name; @appearance; @step: 1) when (@step <= 12) {
    @computed-color: getColor(@color-scale-name, @step, @appearance);
    --color-@{semantic-name}-@{step}: @computed-color;
    .generate-color-steps(@semantic-name; @color-scale-name; @appearance; @step + 1);
}

// 生成透明度颜色
.generate-color-alpha-steps(@semantic-name; @color-scale-name; @appearance; @step: 1) when (@step <= 12) {
    @computed-color: getAlphaColor(@color-scale-name, @step, @appearance);
    --color-@{semantic-name}-a@{step}: @computed-color;
    .generate-color-alpha-steps(@semantic-name; @color-scale-name; @appearance; @step + 1);
}

// ==========================================
// 主题配色
// - 背景：1-2
// - 交互组件：3-5
// - 边框和分隔符：6-8, (8:边框，焦点，禁用文本)
// - 纯色：9-10
// - 文本：11-12
// ==========================================

// ==========================================
// 提取通用的主题配置（Mixin）
// ==========================================
.apply-theme(@appearance) {
    .generate-color-steps(primary, @color-primary-name, @appearance);
    .generate-color-alpha-steps(primary, @color-primary-name, @appearance);

    .generate-color-steps(danger,  @color-danger-name,  @appearance);
    .generate-color-alpha-steps(danger, @color-danger-name, @appearance);

    .generate-color-steps(success, @color-success-name, @appearance);
    .generate-color-alpha-steps(success, @color-success-name, @appearance);

    .generate-color-steps(warning, @color-warning-name, @appearance);
    .generate-color-alpha-steps(warning, @color-warning-name, @appearance);

    .generate-color-steps(neutral, @color-neutral-name, @appearance);

    // 填充层 / 遮罩阶梯色
    .generate-color-steps(fill, @color-neutral-name, @appearance);
    .generate-color-alpha-steps(fill, @color-neutral-name, @appearance);

    // 文字阶梯色
    --color-text-1                  : var(--color-neutral-12);
    --color-text-2                  : var(--color-neutral-11);
    --color-text-3                  : var(--color-neutral-10);
    --color-text-4                  : var(--color-neutral-9);

    

    // 边框阶梯色
    --color-border                  : var(--color-neutral-7);
    --color-border-secondary        : var(--color-neutral-6);
    --color-border-disabled         : var(--color-neutral-8);

    // 投影
    --shadow-1: inset 0 0 0 1px var(--color-fill-a5), inset 0 1.5px 2px 0 var(--color-fill-a2), inset 0 1.5px 2px 0 var(--color-black-a2);
    --shadow-2: 0 0 0 1px color-mix(in oklab, var(--color-fill-a3), var(--color-fill-3) 25%), 0 0 0 .5px var(--color-black-a1), 0 1px 1px 0 var(--color-black-a2), 0 2px 1px -1px var(--color-black-1), 0 1px 3px 0 var(--color-black-a1);
    --shadow-3: 0 0 0 1px color-mix(in oklab, var(--color-fill-a3), var(--color-fill-3) 25%), 0 2px 3px -2px var(--color-fill-a3), 0 3px 12px -4px var(--color-black-a2), 0 4px 16px -8px var(--color-black-a2);
    --shadow-4: 0 0 0 1px color-mix(in oklab, var(--color-fill-a3), var(--color-fill-3) 25%), 0 8px 40px var(--color-black-a1), 0 12px 32px -16px var(--color-black-a3);
    --shadow-5: 0 0 0 1px color-mix(in oklab, var(--color-fill-a3), var(--color-fill-3) 25%), 0 12px 60px var(--color-black-a3), 0 12px 32px -16px var(--color-black-a5);
    --shadow-6: 0 0 0 1px color-mix(in oklab, var(--color-fill-a3), var(--color-fill-3) 25%), 0 12px 60px var(--color-black-a3), 0 16px 64px var(--color-black-a2), 0 16px 36px -20px var(--color-black-a7);
    --shadow-outline: inset 0 0 0 1px var(--color-fill-a3), inset 0 0 0 1px var(--color-primary-a4), inset 0 0 0 1px var(--color-black-a1), inset 0 1.5px 2px 0 var(--color-black-a2);
    --shadow-line: 0 0 0 1px var(--color-black-a3), 0 1px 3px var(--color-black-a1), 0 2px 4px -1px var(--color-black-a1);
}

:root {
    .generate-color-alpha-steps(white, 'white', light);
    .generate-color-alpha-steps(black, 'black', light);
    .apply-theme(light);
}

[data-theme="dark"] {
    .apply-theme(dark)
}