// 'tomato', 'red', 'ruby', 'crimson', 'pink',
// 'plum', 'purple', 'violet', 'iris', 'indigo', 'blue', 'cyan', 'teal', 'jade', 'green',
// 'grass', 'brown', 'orange', 'sky', 'mint', 'lime', 'yellow', 'amber'

// 品牌色
@color-primary-name          : 'indigo';
// 错误提示色
@color-danger-name           : 'tomato';
// 成功提示色
@color-success-name          : 'green';
// 注意提示色
@color-warning-name          : 'amber';
// 中性色
// 'gray', 'mauve', 'slate', 'sage', 'olive', 'sand'
@color-neutral-name          : 'gray';